{
  "extends": [
		 "keystone-react",
		 "prettier",
		 "prettier/react"
  ],
  "rules": {
    "react/jsx-no-bind": 0,
		"react/jsx-pascal-case": ["error", {"allowAllCaps": true}]
  },
  "globals": {
    "_": true,
    "$": true,
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "it": true,
    "jQuery": true,
    "Keystone": true
  }
}
