<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunde inte hittas</title>
</head>
<body>
    <h1>
		{{#if errorTitle}}
		{{errorTitle}}
		{{else}}
		Kunde inte hitta sidan du letade efter
		{{/if}}
	</h1>
	<p>{{errorMsg}}</p>
</body>
</html>
