<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fel...</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="{{styleEntry}}" rel="stylesheet">
	<style>
		.error-page {
			padding-top: 60px;
			position: relative;
			font-size: 25px;
			max-width: 550px;
			font-weight: 300;
		}
		.error-page::after {
			position: absolute;
			color: #d3d3d3;
			z-index: -1;
			top: -10px;
			right: 0;
			font-weight: 400;
			line-height: 1;
			font-size: 300px;
			font-family: 'Roboto Slab';
			content: '?!';
		}
		.error-page h1 {
			font-size: 50px;
			text-transform: unset;
		}
		.error-page .back-link{
			margin-top: 40px;
			float: right;
			font-weight: 400;
		}
	</style>
</head>
<body>
	<div class="container error-page">
		<h1>
			{{#if errorTitle}}
			{{errorTitle}}
			{{else}}
			Serverfel...
			{{/if}}
		</h1>
		<p>
			{{errorMsg}}
		</p>
		<p class="back-link">
			<a href="/">Gå till startsidan</a>
		</p>
	</div>
</body>
</html>
