<div class="container">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1>Kontakta oss</h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa est aliquid, sunt mollitia unde laborum sed inventore nostrum atque placeat sequi excepturi alias adipisci! Perferendis doloribus labore officia neque corrupti.
		</div>
		<div class="col-md-4">
		<h2>Kontaktpersoner</h2>
		{{#each users}}
			{{!-- <div class="col-xs-6 col-sm-4 col-md-3"> --}}
				<div class="contact-user">
					<img src="
						{{#if image.exists}}
							{{cloudinaryUrl image width="160" height="160" crop="fill" gravity="face"}}
						{{else}}
							/images/avatar.png
						{{/if}}" alt="" class="">
					<div class="contact-user-info">
						<h3>{{name.full}}</h3>
						<span class="glyphicon glyphicon-envelope"></span> <span class="">{{email}}</span>
					</div>
				</div>
			{{!-- </div> --}}
		{{/each}}
		</div>
	</div>
</div>
