<div class="container">
    <div class="base-page">
        <div id="sw-registrations"></div>
    </div>
</div>
<script type="text/javascript" src="/stratum/api/widgets/RC/Loader?widget=registrations&target=sw-registrations"></script>
