<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<article class="base-page">
				<div class="stratum-widget" id="sw-rcregistrations"></div>
			</article>
		</div>
	</div>
</div>

<script type="text/javascript" src="/stratum/api/widgets/RC/Registrations"></script>
