<div class="container">
	<div class="row">
		<div class="col-md-8 col-lg-9">
			<div class="stratum-widget" id="sw-rcregistrations"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/stratum/api/widgets/RC/Registrations"></script>
