<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="keystone.js" verb="*" modules="iisnode" />
			<add name="iisnode-messages" path="message-server.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
					<match url="(.*)" ignoreCase="false" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
				<rule name="Main" stopProcessing="false">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^cms\.registercentrum\.se" />
					</conditions>
					<action type="Rewrite" url="keystone.js" />
				</rule>
				<rule name="Message server" stopProcessing="false">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^messages\.registercentrum\.se" />
					</conditions>
					<action type="Rewrite" url="message-server.js" />
				</rule>
				<rule name="Registers" stopProcessing="false">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" negate="true" pattern="^cms\.registercentrum\.se" />
						<add input="{HTTP_HOST}" negate="true" pattern="^messages\.registercentrum\.se" />
						<add input="{HTTP_HOST}" pattern="^(?:nya(shpr)|([a-zA-Z0-9]+)|([a-zA-Z0-9]+)\.cms)\.registercentrum\.se" />
					</conditions>
					<action type="Rewrite" url="registers/{C:1}{C:2}{C:3}/keystone.js" />
				</rule>
			</rules>
		</rewrite>
		<directoryBrowse enabled="true" />
		<iisnode node_env="production" loggingEnabled="true" logDirectory="logs" devErrorsEnabled="false" debuggingEnabled="false" />
	</system.webServer>
</configuration>
