<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="keystone.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="Main" stopProcessing="false">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^|(www\.)cms\.registercentrum\.se" />
					</conditions>
					<action type="Rewrite" url="keystone.js" />
				</rule>
				<rule name="Registers" stopProcessing="false">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" negate="true" pattern="^cms\.registercentrum\.se" />
						<add input="{HTTP_HOST}" pattern="^(?:nya(shpr)|([a-zA-Z0-9]+)|([a-zA-Z0-9]+)\.cms)\.registercentrum\.se" />
					</conditions>
					<action type="Rewrite" url="registers/{C:1}{C:2}{C:3}/keystone.js" />
				</rule>
			</rules>
		</rewrite>
		<directoryBrowse enabled="true" />
		<iisnode node_env="production" loggingEnabled="true" logDirectory="logs" devErrorsEnabled="true" debuggingEnabled="true" />
	</system.webServer>
</configuration>
