{{#with data.news.[0]}}
<div class="caption-ct news-widget">
	<a href="{{newsUrl slug}}">
	{{#if image}}
	{{{cloudinaryUrl image imageTag="true" width="500" height="500" crop="fill" class="img-responsive"}}}
	{{/if}}
	<div class="caption-text news-widget-caption">
		<h2>{{title}}</h2>
		<p class="news-widget-caption-lead">{{content.lead}}</p>
	</div>
	</a>
</div>
{{/with}}
