<a href="#print" title="Visa en utskriftsvänlig version av den här sidan." class="print-button" onclick="(function(e){e.preventDefault(); window.print();}(event))" rel="nofollow">
	<i class="fa fa-print"></i>
</a>
