<div class="resource-list">
	<h2>Dokument att ladda ner</h2>
	<ul>
	{{#each this}}
		<li>
			<i class="resource-icon resource-{{fileType}}"> </i>
			<a href="{{file.secureUrl}}" target="_blank">
				{{title}}
			</a>
			{{#if description}}
			<p>{{description}}</p>
			{{/if}}
		</li>
	{{/each}}
	</ul>
</div>
