<div class="stratum-widget">
	<div class="stratum-widget-content">
		<iframe style="width: 100%;" src="{{stratumWidget.url}}" frameborder="0" scrolling="no"></iframe>
	</div>
	<div class="stratum-widget-desc">
		<h2>{{name}}</h2>
		<a href="{{stratumWidget.url}}">{{stratumWidget.widgetSlug}}</a>
	</div>
</div>
