.caption-ct {
	position: relative;
	img {
		width: 100%;
	}
	.caption-text {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: lighten(@brand-primary, 5%);
		}
		color: #fff;
		background-color: darken(@brand-primary, 10%);
		width: 100%;
		padding: @gutter-small;
		padding-top: @gutter;
		font-size: @font-size-base * 0.85;
		@media screen and (min-width: @screen-sm-min) {
			font-size: @font-size-base;
		}
	}
}
