.caption-ct{
	position: relative;
	img{
		width: 100%;
	}
	.caption-text{
		color: #fff;
		background-color: darken(@brand-primary, 10%);
		width: 100%;
		padding: @gutter-small;
		padding-top: @gutter;
		font-size: @font-size-base * 0.85;
		@media screen and (min-width: @screen-sm-min) {
			font-size: @font-size-base;
		}
	}
}
