.map-canvas{
    margin-top: @gutter-large;
    margin-bottom: 2*@gutter-large;
	width: 100%;

	height: 200px;
	@media (min-width: @screen-xs-min) {
		height: 300px;
	}
	@media (min-width: @screen-sm-min) {
		height: 400px;
	}
}
.contact-address{
	.white-well();
	margin-bottom: 2*@gutter;
	padding: 2*@gutter;
	font-size: 18px;
	ul{
		.list-unstyled();
		li{
			&:first-child{
				font-size: 24px;
			}
		}
	}
}
.contact-user{
	margin-bottom: 2*@gutter;
	text-align: center;
	// padding: 0;
	.white-well();
	padding: 2*@gutter @gutter;
	.clearfix();
	p{
		margin: 0 0 5px 0;
	}
	h2,h3,h4,h5,h6{
		&:first-child{
			margin-bottom: @gutter-small/2
		}
	}
	img{
		.square(120px);
		.border-top-radius(.15em);
		.img-circle();
        margin-bottom: @gutter;
	}
	.contact-user-info{
		font-size: 11px;
		.contact-user-title{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
		}
	}
	span.glyphicon{
		color: @gray-light;
	}
	@media (max-width: @screen-sm-max) {
		img{
			width: 80px;
			height: 80px;
			float: left;
			margin-right: 2*@gutter;
		}
		.contact-user-info{
			text-align: left;
			h2,h3,h4,h5,h6{
				&:first-child{
					margin-top: 0;
				}
			}
		}
	}
}
