.contact-user{
	.clearfix();
	background-color: #fff;
		padding: 2*@gutter @gutter;
	.contact-user-info{
		font-size: 11px;
	}
	@media (max-width: @screen-sm-max) { 
		img{
			float: left;
			margin-right: 2*@gutter;
		}
		.contact-user-info{
			text-align: left;
			h2,h3,h4,h5,h6{
				&:first-child{
					margin-top: 0;
				}
			}
		}
	}
	img{
		.square(120px);
		.border-top-radius(.15em);
		.img-circle();
	}
	span.glyphicon{
		color: @gray-light;
		// font-size: 14px;
		// .hidden-md();
		// .hidden-lg();
	}
	margin-bottom: 2*@gutter;
	text-align: center;
	// padding: 0;
	border-radius: .15em;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.04),0 2px 0 rgba(0,0,0,0.04);
}
