footer, #footer {
	position: absolute;
	bottom: 0;
	height: @footer-height;
	text-align: center;
	width: 100%;
	background-color: @brand-primary;
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	padding-bottom: 20px;
	color: @gray-lighter;
	box-shadow: inset 0px 53px 12px -53px rgba(0,0,0,0.65);
}
