.base-column {
	img& {
		padding: 0;
	}
	.white-well();
	padding: @gutter-large;
	&.base-column-start {
	}
	margin-bottom: @gutter-xlarge;
}
.brief-info-column {
	background-color: @grid-bg-secondary;
	p {
		margin-bottom: (@jumbotron-padding / 2);
		font-size: @jumbotron-font-size;
		font-weight: 200;
	}
}
