@navBlu: spin(@brand-primary, 0);//@gray;// #358FDA;
html{
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: 100px;
	.clearfix();
}
#header{
	border-top: 4px solid @brand-primary;
}
#body{
	margin-bottom: @gutter-xlarge;
}
.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}
.post {
	margin-bottom: @line-height-computed;
	&:last-child {
		margin-bottom: 0;
	}
}
article {
	img {
		// margin-bottom: @line-height-computed;
		.img-responsive();
	}
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	height: auto;
	max-width: 100%;
	line-height: 1;
	width: 100%;
}
#head-carousel, .carousel-placeholder {
	margin-bottom: 30px;
}
.carousel-placeholder {
	@carousel-main: darken(@brand-primary, 10%);
	position: relative;
	width: 100%;
	padding-top: percentage(400/1024);
	#gradient.directional(spin(@carousel-main, 20), @carousel-main, 135deg);
	background-color: @carousel-main;
	.carousel-placeholder-header{
		position: absolute;
		bottom: 7%;
		right: 7%;
		font-size: 78px;
		color: @gray-lighter;
		font-weight: 700;
	}
}
