@navBlu: spin(@brand-primary, 0);//@gray;// #358FDA;
@footer-height: 30px + 30px + 20px + 1px;
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	background-color: #f7f7f7;
}
#root-container{
	min-height: 100%;
	position: relative;
}
#header {}
#body{
	padding-bottom:@footer-height + 3*@gutter;
}
#footer {
	height: @footer-height;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: darken(@gray-lighter,10);
    margin-top: 30px;
    border-top: 1px solid @gray-lighter;
    padding-top: 30px;
    padding-bottom: 20px;
    color: @gray-light;
    box-shadow: inset 0px 53px 12px -53px rgba(0,0,0,0.15);
}
.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.post {
    margin-bottom: @line-height-computed;
    &:last-child {
        margin-bottom: 0;
    }
}
article {
    img {
        margin-bottom: @line-height-computed;
        .img-responsive();
    }
}
.content-page-images{
	img{
		width: 100%;
		margin-bottom: @gutter;
	}
}
.navbar-default {
	.navbar-brand {
		img{
			margin-top: -4px;
			margin-right: 7px;
			height: 28px;
			max-width: 100px;
		}
	}
    background-color: @navBlu;
    border-color: darken(@navBlu, 10%);
    .navbar-nav>li>a, .navbar-brand {
        color: lighten(@navBlu, 35%);
        &:hover {
            color: lighten(@navBlu, 45%);
        }
    }
    .navbar-nav>li>a.user {
        display: none;
        @media (min-width: @grid-float-breakpoint) {
        	display: block;
            padding-top: 11px;
            padding-bottom: 11px;
            padding-right: 0px;
        }
    }
    .navbar-nav>.active>a, .navbar-nav>.active>a:hover, {
        background-color: lighten(@navBlu, 20%);
        color: darken(@navBlu, 10%);
        // color: lighten(@navBlu, 10%);
    }
    .navbar-toggle {
        border-color: lighten(@navBlu, 30%);
        &:hover, &:focus {
            background-color: darken(@navBlu, 10%);
        }
        .icon-bar {
            background-color: lighten(@navBlu, 30%);
        }
    }
}
ul.nav{
	ul.nav{
		li{
			margin-left: 10px;
		}
	}
}
.header-first {
    .navbar {
        margin: 0;
    }
    @media (min-width: @grid-float-breakpoint) {
        position: absolute;
        width: 100%;
        .navbar {
            background-color: fade(@navBlu, 80%);
            width: 90%;
            top: 21px;
            margin: 0 auto;
            border-radius: 8px;
        }
        .container {
            width: 98%;
        }
    }
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
}
#head-carousel, .carousel-placeholder {
    margin-bottom: 30px;
}
.carousel-placeholder {
	@carousel-main: darken(@brand-primary, 10%);
	position: relative;
	width: 100%;
	padding-top: percentage(400/1024);
	#gradient.directional(spin(@carousel-main, 20), @carousel-main, 135deg);
	background-color: @carousel-main;
	.carousel-placeholder-header{
		position: absolute;
		bottom: 7%;
		right: 7%;
		font-size: 78px;
		color: @gray-lighter;
		font-weight: 700;
	}
}

.load-spinner{

	  margin: 60px auto;
	  font-size: 10px;
	  position: relative;
	  text-indent: -9999em;
	  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	  border-left: 1.1em solid @brand-primary;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-animation: load8 1.1s infinite linear;
	  animation: load8 1.1s infinite linear;
	// &,
	&, &:after {
	  border-radius: 50%;
	  width: 10em;
	  height: 10em;
	}
	@-webkit-keyframes load8 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	@keyframes load8 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
}
