//
// Navbars
// --------------------------------------------------

// @navbar-image-height: 60px;
@navbar-image-height: 40px;

@navbar-header-height: 106px;

// @navbar-image-height: 60px;
@navbar-image-big-height: 80px;
@navbar-main-height: 46px;
@navbar-main-padding-vertical:          ((@navbar-main-height - @line-height-computed) / 2);

img.navbar-brand-image,
img.navbar-brand-image-big,
img.navbar-brand-image-small{
	height: @navbar-image-height;
	// margin: ((@navbar-height - @navbar-image-height) / 2) 0;
	margin-left: @navbar-padding-horizontal;
	margin-right: @gutter;
	float: left;
	@media (min-width: @grid-float-breakpoint) {
		margin-left: 0;
	}
}

.navbar-nav {
	> li > a {
		color: @navbar-default-link-color;

		&:hover,
		&:focus {
			color: @navbar-default-link-hover-color;
			background-color: @navbar-default-link-hover-bg;
			// @media (min-width: @grid-float-breakpoint) {
			// 	border-bottom: 3px solid @brand-primary;
			// 	margin-bottom: -3px;
			// 	.transition(border-bottom .2s ease-in-out);
			// }
		}
	}
	// > li > ul {
	// 	li > a{
	// 		padding-left: @navbar-padding-horizontal + 10px;
	// 	}
	// 	> li > ul {
	// 		li > a{
	// 			padding-left: @navbar-padding-horizontal + 20px;
	// 		}
	// 	}
	// }
	> .active > a {
		&,
		&:hover,
		&:focus {
			color: @navbar-default-link-active-color;
			background-color: @navbar-default-link-active-bg;
			// @media (min-width: @grid-float-breakpoint) {
			// 	border-bottom: 3px solid @brand-primary;
			// 	margin-bottom: -3px;
			// }
		}
	}
	> .disabled > a {
		&,
		&:hover,
		&:focus {
			color: @navbar-default-link-disabled-color;
			background-color: @navbar-default-link-disabled-bg;
		}
	}
	> .search > a {
		@media (min-width: @screen-lg-min) {
			margin-left: 2*@gutter;
		}
		.fa-icon();
		&:before{
			content: @fa-var-search;
		}
	}
	// Hide caret and dropdown in desktop
	@media (min-width: @grid-float-breakpoint) {
		.active{
			a > .caret, > ul.dropdown-menu {
				display: none;
			}
		}
	}
	@media (max-width: @grid-float-breakpoint-max) {
		.active.dropdown{
			display: inherit;
		}
		.dropdown-mobile > a{
			display: none;
		}
		// Dropdowns get custom display when collapsed
		.open .dropdown-menu {
			> li.sub-sub-nav > a {
				padding-left: 25px + 15px;
			}
			li.has-sub-pages {
				> a:after{
					content: ' ';
					.caret;
					margin-left: 7px;
				}
			}
		}
	}
}

.navbar {
	// box-shadow: 0 0 5px rgba(0,0,0,0.5);
	// @media (min-width: @grid-float-breakpoint) {
	.box-shadow(@shadow: 0 0 5px rgba(0,0,0,0.5));
	border: 0;
	// }
	.navbar-upper {
		.clearfix();
		.navbar-nav{
			> li {
				.nav-button-text-big, .nav-button-text-small{
					display: inline-block;
					margin-bottom: 0;
				}
				.nav-button-text-big{
					&:after{
						content: '\00A0 \2014 \00A0';
					}
				}
			}
		}
		@media (min-width: @grid-float-breakpoint) {
			.navbar-nav{
				> li {
					&.active{
						> a.registration-link{
							.btn-default;
						}
					}
					&:last-child{
						// margin-right: @gutter-large + @navbar-main-padding-vertical;
					}
					> a {
						.btn;
						.btn-default;
						margin-left: @gutter;

					}
					a.registration-link{
					// 	height: 45px;
					// 	display: table-cell;
					// 	padding: 0 15px;
						.btn-primary;
					}
					a.nav-button-text{
						height: 45px;
						display: block;
						padding: 6px 10px;
						position: relative;
						.nav-button-text-big, .nav-button-text-small{
							display: block;
						}
						.nav-button-text-big{
							&:after{
								content: none;
							}
							font-size: 12px; //floor(@font-size-base * 1.1);
						}
						.nav-button-text-small{
							font-size: 10px; //floor(@font-size-base * 0.9);
						}
					}
					a.login-user-display{
						// padding: @gutter @gutter*2+10px @gutter @gutter;
						// text-align: right;
						padding-right: 30px;
						&:after{
							.fa-icon();
							content: @fa-var-chevron-down;
							font-size: 12px;
							position: absolute;
							right: @gutter;
							top: 50%;
							margin-top: -5px;
						}
					}
					a.login-user-display-wrong{
						padding-top: 12px;
						font-size: 14px;
					}
				}
			}
			.container;
			padding-right: @gutter-large + @navbar-main-padding-vertical;
			position: absolute;
			left: 50%;
			top: @gutter + 10px;
			pointer-events: none;
			&>*{
				pointer-events: all;
			}
			@media (min-width: @screen-md-min) {
				margin-left: -@container-md/2;
			}
			@media (min-width: @screen-lg-min) {
				margin-left: -@container-lg/2;
			}
		}
	}
	.navbar-main .navbar-nav{
		@media (min-width: @grid-float-breakpoint) {
			> li > a {
				&:hover,
				&:focus {
					border-bottom: 3px solid @brand-primary;
					margin-bottom: -3px;
					.transition(border-bottom .2s ease-in-out);
				}
			}
			> .active > a {
				&,
				&:hover,
				&:focus {
					border-bottom: 3px solid @brand-primary;
					margin-bottom: -3px;
				}
			}
		}
	}
}

// img.navbar-brand-image{
// 	height: @navbar-image-height;
// 	margin: ((@navbar-height - @navbar-image-height) / 2) 0;
// 	margin-left: @navbar-padding-horizontal;
// 	margin-right: @gutter;
// 	float: left;
// 	@media (min-width: @grid-float-breakpoint) {
// 		margin-left: 0;
// 	}
// }

.navbar-big {
	border-top: 3px solid @brand-primary;

	@media (min-width: @grid-float-breakpoint) {
		border-top-width: 4px;
	}

	> .container-fluid{
		@media (min-width: @grid-float-breakpoint) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.navbar-brand-image-big{
		height: @navbar-image-big-height;
		margin: ((@navbar-height - @navbar-image-big-height) / 2) 0;
		display: none;
	}

	.navbar-header-container,.navbar-main-container {
		.clearfix();
		@media (min-width: @grid-float-breakpoint) {
			.container;
		}
	}
	.navbar-header {
		// &:extend(.clearfix all);
		@media (min-width: @grid-float-breakpoint) {
			.navbar-brand-image-big{
				display: inline !important;
			}
			.navbar-brand-image-small{
				display: none;
			}
			// height: 92px;
		}
	}
	.navbar-collapse {
		background: @navbar-collapse-bg;
	}
	.navbar-brand {
		padding: ((@navbar-height - @navbar-image-height) / 2) 0;
		@media (min-width: @grid-float-breakpoint) {
			height: @navbar-header-height;
			padding: (@navbar-header-height - @navbar-image-big-height)/2 @navbar-padding-horizontal;
		}
		// @media (max-width: @grid-float-breakpoint - 1) {
		height: @navbar-height;

	}
	.navbar-main {

		@media (min-width: @grid-float-breakpoint) {
			background-color: @gray-lighter;
			border-top: 1px solid darken(@gray-lighter, 10%);
		}
		.navbar-nav {
			margin: (@navbar-main-padding-vertical / 2) -@navbar-padding-horizontal;

			> li > a {
				padding-top:    10px;
				padding-bottom: 10px;
				line-height: @line-height-computed;
			}

			// Uncollapse the nav
			@media (min-width: @grid-float-breakpoint) {
				float: left;
				margin: 0;
				> li {
					float: left;
					> a {
						padding-top:    @navbar-main-padding-vertical;
						padding-bottom: @navbar-main-padding-vertical;
					}
				}
			}
		}
	}
}
