// .news-widget {
// 	border-radius: 3px;
// 	overflow: hidden;
// 	margin-bottom: @gutter;
// 	.news-widget-caption{
// 		padding: @gutter;
// 		width: 100%;
// 		transition: padding-top 0.12s ease-in, background-color 0.12s ease;
// 	}
// 	img+.news-widget-caption{
// 		position: absolute;
// 		bottom: 0px;
// 	}
// 	a{
// 		color: #ccc;
// 		&:hover{
// 			text-decoration: none;
// 		}
// 	}
// 	&:hover{
// 		.news-widget-caption{
// 			h2,h3,h4,h5,h6{
// 				color: darken(@brand-primary, 10%);
// 				transition: 0.12s ease-in;
// 			}
// 			background-color: lighten(@brand-primary, 2);
// 			transition: 0.12s ease-in;
// 		}
// 		img+.news-widget-caption{
// 			padding-top: 30px;
// 		}
// 	}
// }
.news-widget-simple {
	.white-well();
	.clearfix();
	margin-bottom: @gutter-xlarge;
	p {
		font-size: @jumbotron-font-size;
		font-weight: 200;
	}
	a {
		font-size: @jumbotron-font-size;
	}
	img {
		&.img-portrait {
			.img-rounded();
			margin: 0 auto 10px auto;
			float: right;
			margin: 0 0 @gutter @gutter;
		}
		&.img-landscape {
			width: 100%;
			.img-responsive();
		}
	}
	&.news-widget-portrait {
		overflow: hidden;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: @gray-lighter;
			margin: @gutter-large;
		}
		background-color: @brand-primary;
		.news-widget-portrait-inner {
			overflow: auto;
			padding: @gutter-large;
			background-color: @grid-bg-secondary;
		}
	}
	&.news-widget-landscape {
		overflow: hidden;
		background-color: @brand-primary;
		a,
		a:hover {
			text-decoration: none;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		img {
			transition: all 0.2s ease-in-out;
		}
		.img-landscape-ct {
			overflow: hidden;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: @gray-lighter;
			margin: @gutter-large;
		}
	}
}
