.resource-list {
	@media print{
		display: none;
	}
	ul{
		list-style: none;
		padding-left: 0;
		li{
			>a{
				font-size: ceil(@font-size-base * 1.2);
			}
			min-height: 64px;
			.clearfix();
			.base-column();
			position: relative;
			padding-right: @gutter-large + 40px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.resource-icon{
		.fa-icon();
		position: absolute;
		right: @gutter-large;
		top: @gutter-large;
		font-size: 32px;
		color: @primary-light;
		&.resource-pdf:before{
			content: @fa-var-file-pdf-o;
		}
		&.resource-powerpoint:before{
			content: @fa-var-file-powerpoint-o;
		}
		&.resource-image:before{
			content: @fa-var-file-image-o;
		}
		&.resource-video:before{
			content: @fa-var-file-video-o;
		}
		&.resource-audio:before{
			content: @fa-var-file-audio-o;
		}
		&.resource-word:before{
			content: @fa-var-file-word-o;
		}
		&.resource-excel:before{
			content: @fa-var-file-excel-o;
		}
		&.resource-text:before{
			content: @fa-var-file-text-o;
		}
		&.resource-other:before{
			content: @fa-var-file-o;
		}
	}
	&.side-area {
		ul {
			margin: 0;
			> li {
				.box-shadow(@shadow: none);
				background: inherit;
				padding: @gutter*2 0;
				padding-right: 24px + 5px;
				border-top: 2px dotted @headings-color;
				border-radius: 0;
				min-height: @gutter*2 + 32px;
				margin: 0;
				&:first-child {
					margin-top: @gutter*2;
				}
				> a {
					font-size: 15px;
				}
			}
		}
		.resource-icon {
			font-size: 24px;
			right: 0;
			top: @gutter*2;
		}
	}
}
