.stratum-widget{
	&.stratum-widget-small{
		.white-well();
		padding: @gutter-large;
		iframe{
			display: block;
		}
	}
	&.stratum-widget-large{
		margin-bottom: @gutter-large;
	}
	.stratum-widget-content{
		min-height: 100px;
		background: @gray-light;
	}
	.stratum-widget-desc{
		color: #ccc;
		background-color: fade(@gray, 87%);
		width: 100%;
		padding: @gutter-small;
		padding-top: @gutter;
	}
	margin-bottom: @gutter;
}
