.sub-registers {
	ul {
		.list-unstyled();
		a {
			display: block;
			font-size: 18px;
			color: @text-color;
			&:hover {
				text-decoration: none;
			}
			padding: @gutter;
			margin-bottom: @gutter;
			// .white-well();
			&:hover {
				background-color: @gray-lighter;
				transition: background-color 0.25s ease;
			}
			transition: background-color 0.25s ease;
			.glyphicon-home();
			&:before {
				font-family: 'Glyphicons Halflings';
				color: lighten(@gray, 40%);
				float: right;
			}
		}
	}
	&.sub-registers-modern {
		ul {
			a {
				color: @headings-color;
				border-radius: 5px;
				font-family: @headings-font-family;
				font-size: 16px;
				background-color: @grid-bg-secondary;
				text-decoration: none;

				.glyphicon-chevron-right();

				&:before {
					color: lighten(@headings-color, 10%);
				}

				&:hover {
					background-color: darken(@grid-bg-secondary, 10%);
					color: darken(@headings-color, 10%);
				}
			}
		}
	}
	&.sub-registers-simple {
		overflow: hidden;
		.white-well();
		ul {
			margin-bottom: 0;
			li {
				a {
					margin-bottom: 0;
					padding: @gutter @gutter-large;
					border-radius: 0;
					font-size: 14px;
				}
				border-bottom: 1px dotted #dedede;
				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
	margin-bottom: @gutter-xlarge;
}
