// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;
@headings-font-weight: 400;
@font-family-sans-serif:  "open_sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// @brand-primary:         #39B5CD; //#EA8300;//#428bca; //currently not overridden...
@brand-primary:         #286d7d; //#EA8300;//#428bca; //currently not overridden...
@brand-success:         #5cb85c; //currently not overridden...
@brand-info:            #5bc0de; //currently not overridden...
@brand-warning:         #f0ad4e; //currently not overridden...
@brand-danger:          #c03825; //currently not overridden...

@gray:                   #58585a; //
@gray-light:             #707072; //
@gray-lighter:           #f0f1f1;


@well-bg:               #e5edef;

/* Gutters */
@gutter: 10px;
@gutter-small: floor(@gutter * 0.75);
@gutter-large: floor(@gutter * 1.5);

@primary-light: #bed3d8;
// @primary-light: lighten(@brand-primary, 20%);
@primary-lighter: #e5edef;
// @primary-lighter: lighten(@brand-primary, 30%);

/* Jumbotron */
@jumbotron-bg:                   @well-bg;
@jumbotron-heading-color:        @brand-primary;
@jumbotron-font-size:            ceil((@font-size-base * 1.25));
